<div id="notice" data-controller="flash"  >
  <% if notice.present? %>
    <div class="flex  absolute top-5 right-5 items-center p-2" data-dismiss="alert" aria-label="Close" role="alert">
      <p class="mx-auto py-2 px-3 bg-green-600 mb-5 text-white font-medium rounded-lg inline-block"><%= notice %> </p>
    </div>
  <% end %>
</div>
<div id="notice" data-controller="flash">
  <% if alert.present? %>
    <div class="mx-auto md:w-2/3 w-full flex">
      <p class="mx-auto py-2 px-3 bg-red-50 mb-5 text-red-500 font-medium rounded-lg inline-block"><%= alert %></p>
    </div>
  <% end %>
</div>
